<ion-view title="Buscar Procedimentos">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <div class="bar bar-subheader" style="height: auto;">
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" ng-model="textoBusca" ng-change="resetNumItens()" placeholder="Pesquisar">
      </label>
      <button ng-if="textoBusca.length"
          class="button button-small button-clear button-icon ion-android-close"
          ng-click="limpaBusca()">
        </button>
    </div>
  </div>

  <ion-content class="has-header has-subheader" style="margin-top: 15px;">

    <ion-list class="item-text-wrap">
        <ion-item ng-repeat="proc in procedimentos | filter:textoBusca | limitTo : numeroItensMostrar" href="#/app/procedimento/{{proc.co_procedimento}}">
            <p><span class="positive"><b>{{proc.co_proc_formatado}}</b></span> - {{proc.no_procedimento}}</p>
        </ion-item>
    </ion-list>

    <ion-infinite-scroll
      on-infinite="adicionaMaisItens()"
      ng-if="temMaisDados()"
      icon="ion-loading-c"
      distance="1%">
    </ion-infinite-scroll>

  </ion-content>
</ion-view>
